/* index.ejs */
.welcome{
  text-align: center;
  margin-top: 100px;
}
.welcome p{
  margin-top: 15px;
}
.welcome p a {
  text-decoration: none;
}
a:visited{
  color: none;
}


/*wrtie.ejs*/
.write{
  margin-top: 40px;
  padding: 20px;
  width: 515px;

  margin-left: auto;
  margin-right: auto;
  border: 1px solid #CED4DA;
  border-radius: 3px
}
.write form{
  width: 80%;
  
  margin: 0 auto;
}
.write form div{
  margin-bottom: 5px;
}
.write form label{
  width: 10vw;
  margin: 5px 0px;
  font-weight: bold;
}
.write form input {
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
}
.write form textarea{
  border: 1px solid #ccc;
  width: 100%;
  height: 200px;
  outline: none;
  resize: none;
  white-space: pre-line;
}
.write form button{
  display: block;
  text-align: center;
  
  background-color: #95c3ed;
  border: 0px;
  border-radius: 3px;
  padding: 1vw;
  margin: 30px auto;

  font-size: 13px;
  font-weight: bold;
  color: white;
}
.write p{
  text-align: center;
}
.write p a {
  padding: 1vw;

  text-decoration: none;
  color: white;
  background-color: #95c3ed;
  border-radius: 3px;

  font-weight: bold;
}

/* list.ejs */
.searchContainer{
  width: 540px;
  margin: 0 auto;
}
.list{
  width: 515px;
  margin: 0 auto;
}
.list li{
  list-style: none;
  text-decoration: none;

  border: 1px solid #CED4DA;
  border-radius: 3px;
  margin-top: 15px;
  padding: 15px 10px; 
}
.list li p{
  font-size: 12px;
}
.deleteBtn{
  background-color: #dc3545;
  color: white;
  padding: 0.6vw;

  border: 10px;
  border-radius: 3px;
  font-size: 13px;
}
.changeBtn{
  background-color: #95c3ed;
  padding: 0.6vw;

  border: 10px;
  border-radius: 3px;
  font-size: 13px;
}
.changeBtn a{
  color: white;
  text-decoration: none;
}
